* {
    margin: 0;
    box-sizing: border-box;
}

html,
body,
.root {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
}
.root {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-color: #52a0ff;
    padding: 20px 0;
}

.main-menu {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.main-menu li {
    padding: 0 20px;
}

.main-menu a {
    color: #ffffff;
}

.main-menu a:hover {
    text-decoration: none;
}

.main {
    padding: 50px 0;
}

.footer {
    background-color: #002553;
    padding: 40px 0;
}